[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-mysqldb = "*"
flask-cors = "*"
stripe = "*"
bcrypt = "*"
flask-mail = "*"
itsdangerous = "*"
gunicorn = "*"
flask-heroku = "*"
environs = "*"

[requires]
python_version = "3.9"
